@import url('https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Gantari:ital,wght@0,600;1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    margin-top: 15px;
}
.your__and__oponent{
    display: flex;
    justify-content: space-evenly;
}
.score{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 15px 0;
}
.img{
    width: 220px;
    height: 220px;
}
.your__choice-wrapper{
    width: 100%;
    max-height: 72px;
    margin-top: 15px;
    text-align: center;
}
.img__choices{
    max-width: 72px;
    max-height: 72px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.img__choices:hover{
    transform: scale(1.3);
}
.img__choices:last-child{
    margin: 0;
}
.history{
    margin-top: 25px;
}
.h__text{
    text-align: center;
}
.h__text span{
    font-size: 40px;
    font-family: Gantari;    
}
.text{
    text-align: center;
    font-size: 35px;
    font-family: Gantari;
    font-style: italic;
}
.h__list{
    display: flex;
    justify-content: space-evenly;
}
.h__list-text{
    max-width: 230px;
}
.list__choice{
    margin: auto;
    max-width: 72px;
    max-height: 72px;
}
.item{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}