:root {
    --active-bg: #7f7e7e;
    --bg: #b2b2b2;
    --round-color: white;
}
.checkbox_i{
    display: none;
}
.sw{
    display: flex;
    justify-content: center;
    align-items: center;
}
.eng{
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ua{
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.checkbox_i:checked ~ .switch_round {
    margin-left: 45px;
}
.checkbox_i:checked ~ .switch_bg {
    background-color: var(--active-bg);
}
.switch {
    display: block;
    padding: 3px;
    width: 85px;
    height: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.switch_round {
    display: block;
    height: 34px;
    width: 34px;
    background-color: var(--round-color);
    border-radius: 50%;
    box-sizing: border-box;
    transition: margin 0.3s;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.switch_bg {
    background-color: var(--bg);
    height: 40px;
    width: 85px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}